<div class="container">
  <mat-card *ngIf="!displayWeather.length" class="weather-content">
    <button
      mat-raised-button
      color="primary"
      class="temperature-button"
      (click)="getWeatherData()"
    >
      Get Beach Days
    </button>
  </mat-card>

  <mat-card class="weather-content" *ngFor="let weather of displayWeather">
    <mat-card-title class="weather-header-blue">
      Day: {{ weather.day }}</mat-card-title
    >
    <mat-card-title class="weather-header-pink">
      Temperature: {{ weather.temperature }} F</mat-card-title
    >
  </mat-card>
</div>
